.text{
  text-align: center;
  font-size: 24px;
}
.link{
  text-align: center;
}

.nodata{
  width: 380px;
  height: 380px;
  &_wrapper{
    padding: 50px 0;
  }
}
.list{
  position: fixed;
  bottom: 0;
  width: 100%;
  
}
