.text{
  text-align: center;
  font-size: 32px;
}
.link{
  text-align: center;
}

.nodata{
  width: 200px;
  height: 200px;
  &_wrapper{
    padding: 100px 0;
  }
}
.list{
  position: fixed;
  bottom: 0;
  width: 100%;
  
}
